<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/geo_oceania.css">
</head>
<body>
    <div class="asia_container">

        <div class="asia_content">
            <h1>Oceania</h1>
        <ul>
            <li>Australia, Canberra

            </li>
            <li>Cook Islands, Avarua

            </li>
            <li>Fiji, Suva

            </li>
            <li>Kiribati, Tarawa

            </li>
            <li>Marshall Islands, Majuro

            </li>
            <li>Micronesia, Federated States of, Palikir

            </li>
            <li>Nauru, Yaren District (unofficial)

            </li>
            <li>New Zealand, Wellington

            </li>
            <li>Niue, Alofi

            </li>
            <li>Palau, Koror

            </li>
            <li>Samoa, Apia

            </li>
            <li>Solomon Islands, Honiara

            </li>
            <li>Tonga, Nuku'alofa

            </li>
            <li>Tuvalu, Fongafale

            </li>
            <li>Vanuatu, Port-Vila

            </li>
            
        </ul>
        </div>
    </div>
</body>
</html>