<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/geo_europe.css">
</head>
<body>
    <div class="asia_container">

        <div class="asia_content">
            <h1>Europe</h1>
        <ul>
            <li>Albania, Tirana

            </li>
            <li>Andorra, Andorra la Vella

            </li>
            <li>Austria, Vienna

            </li>
            <li>Belarus, Minsk

            </li>
            <li>Belgium, Brussels

            </li>
            <li>Bosnia and Herzegovina, Sarajevo

            </li>
            <li>Bulgaria, Sofia

            </li>
            <li>Croatia, Zagreb

            </li>
            <li>Cyprus, Nicosia

            </li>
            <li>Czech Republic, Prague

            </li>
            <li>Denmark, Copenhagen

            </li>
            <li>Estonia, Tallinn

            </li>
            <li>Finland, Helsinki

            </li>
            <li>France, Paris

            </li>
            <li>Germany, Berlin

            </li>
            <li>Greece, Athens

            </li>
            <li>Holy See (Vatican City), Vatican City

            </li>
            <li>Hungary, Budapest

            </li>
            <li>Iceland, Reykjavik

            </li>
            <li>Ireland, Dublin

            </li>
            <li>Italy, Rome

            </li>
            <li>Latvia, Riga

            </li>
            <li>Lebanon, Beirut

            </li>
            <li>Latvia, Riga

            </li>
            <li>Liechtenstein, Vaduz

            </li>
            <li>Lithuania, Vilnius

            </li>
            <li>Luxembourg, Luxembourg

            </li>
            <li>Macedonia, The Former Yugoslav Republic of, Skopje

            </li>
            <li>Malta, Valletta

            </li>
            <li>Moldova, Chisinau

            </li>
            <li>Monaco, Monaco

            </li>
            <li>Netherlands, Amsterdam, The Hague (seat of government)

            </li>
            <li>Norway, Oslo

            </li>
            <li>Poland, Warsaw

            </li>
            <li>Portugal, Lisbon

            </li>
            <li>Romania, Bucharest

            </li>
            <li>Russia, Moscow

            </li>
            <li>San Marino, San Marino

            </li>
            <li>Serbia and Montenegro, Belgrade

            </li>
            <li>Slovakia, Bratislava

            </li>
            <li>Slovenia, Ljubljana

            </li>
            <li>Spain, Madrid

            </li>
            <li>Sweden, Stockholm

            </li>
            <li>Switzerland, Bern

            </li>
            <li>Turkey, Ankara

            </li>
            <liUkraine, Kiev (Kyyiv)

            ></li>
            <li>United Kingdom, London

            </li>
        </ul>
        </div>
    </div>
</body>
</html>