<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/geo_asia.css">
</head>
<body>
    <div class="asia_container">

        <div class="asia_content">
            <h1>Asia and Middle East</h1>
        <ul>
            <li>Afghanistan, Kabul</li>
            <li>Armenia, Yerevan</li>
            <li>Azerbaijan, Baku (Baki)</li>
            <li>Bangladesh, Dhaka</li>
            <li>Bhutan, Thimphu</li>
            <li>Brunei, Bandar Seri Begawan</li>
            <li>Burma, Rangoon (Yangon)</li>
            <li>Bahrain, Manama</li>
            <li>Cambodia, Phnom Penh</li>
            <li>China, Beijing</li>
            <li>East Timor, Dili</li>
            <li>Gaza Strip, none</li>
            <li>Georgia, T'bilisi</li>
            <li>Hong Kong, Hong Kong</li>
            <li>India, New Delhi</li>
            <li>Indonesia, Jakarta</li>
            <li>Iran, Tehran</li>
            <li>Iraq, Baghdad</li>
            <li>Israel, Jerusalem</li>
            <li>Japan, Tokyo</li>
            <li>Jordan, Amman</li>
            <li>Kazakhstan, Astana</li>
            <li>Korea, North, P'yongyang</li>
            <li>Korea, South, Seoul</li>
            <li>Kuwait, Kuwait</li>
            <li>Kyrgyzstan, Bishkek</li>
            <li>Laos, Vientiane</li>
            <li>Macau, Macau</li>
            <li>Malaysia, Kuala Lumpur</li>
            <li>Maldives, Male</li>
            <li>Mongolia, Ulaanbaatar</li>
            <li>Nepal, Kathmandu</li>
            <li>Oman, Muscat</li>
            <li>Pakistan, Islamabad</li>
            <li>Papua New Guinea, Port Moresby</li>
            <li>Philippines, Manila</li>
            <li>Russia, Moscow</li>
            <li>Saudi Arabia, Riyadh</li>
            <li>Singapore, Singapore</li>
            <li>Sri Lanka, Colombo</li>
            <li>Syria, Damascus</li>
            <li>Taiwan, Taipei</li>
            <li>Tajikistan, Dushanbe</li>
            <li>Thailand, Bangkok</li>
            <li>Turkey, Ankara</li>
            <li>Turkmenistan, Ashgabat</li>
            <li>United Arab Emirates, Abu Dhabi</li>
            <li>Uzbekistan, Tashkent</li>
            <li>Vietnam, Hanoi</li>
            <li>Yemen, Sanaa</li>
        </ul>
        </div>
    </div>
</body>
</html>