<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/geo_s_america.css">
</head>
<body>
    <div class="asia_container">

        <div class="asia_content">
            <h1>South America</h1>
        <ul>
            <li>Argentina, Buenos Aires

            </li>
            <li>Bolivia, La Paz

            </li>
            <li>Brazil, Brasilia

            </li>
            <li>Chile, Santiago

            </li>
            <li>Colombia, Bogota

            </li>
            <li>Ecuador, Quito

            </li>
            <li>El Salvador, San Salvador

            </li>
            <li>Guatemala, Guatemala

            </li>
            <li>French Guiana, Cayenne

            </li>
            <li>Guyana, Georgetown

            </li>
            <li>Paraguay, Asuncion

            </li>
            <li>Peru, Lima

            </li>
            <li>Suriname, Paramaribo

            </li>
            <li>Uruguay, Montevideo

            </li>
            <li>Venezuela, Caracas

            </li>
            
        </ul>
        </div>
    </div>
</body>
</html>