<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Geo_Quiz</title>
        <link rel="stylesheet" href="../css/geo_menu.css" />
    </head>
    <body>
        <div class="container">
            <div id="home" class="flex-center flex-column">
                <h1>Test your geography skills</h1>
                <a class="btn" href="../index.html">Home</a>
                <a class="btn" href="geo_game.html">Play</a>
                <a class="btn" href="highscores2.html">Hightscores</a>
            </div>
        </div>
    </body>
</html>
