<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/geo_africa.css">
</head>
<body>
    <div class="asia_container">

        <div class="asia_content">
            <h1>Africa</h1>
        <ul>
           <li>Algeria, Algiers

        </li>
           <li>Angola, Luanda

        </li>
           <li>Benin, Porto-Novo (official capital); Cotonou (seat of government)

        </li>
           <li>Botswana, Gaborone

        </li>
           <li>Burkina Faso, Ouagadougou

        </li>
           <li>Burundi, Bujumbura

        </li>
           <li>Cameroon, Yaounde

        </li>
           <li>Cape Verde, Praia

        </li>
           <li>Central African Republic, Bangui

        </li>
           <li>Chad, N'Djamena

        </li>
           <li>Comoros, Moroni

        </li>
           <li>Congo, Democratic Republic of the, Kinshasa

        </li>
           <li>Congo, Republic of the, Brazzaville

        </li>
           <li>Cote d'Ivoire, Yamoussoukro

        </li>
           <li>Djibouti, Djibouti

        </li>
           <li>Egypt, Cairo

        </li>
           <li>Equatorial Guinea, Malabo

        </li>
           <li>Eritrea, Asmara (formerly Asmera)

        </li>
           <li>Eswatini, Mbabane, Lobamba (royal and legislative capital)

        </li>
           <li>Ethiopia, Addis Ababa

        </li>
           <li>Gabon, Libreville

        </li>
           <li>Gambia, The, Banjul

        </li>
           <li>Ghana, Accra

        </li>
           <li>Guinea, Conakry

        </li>
           <li>Guinea-Bissau, Bissau

        </li>
           <li>Kenya, Nairobi

        </li>
           <li>Lesotho, Maseru

        </li>
           <li>Liberia, Monrovia

        </li>
           <li>Libya, Tripoli

        </li>
            
        <li>Madagascar, Antananarivo

        </li>
        <li>Malawi, Lilongwe

        </li>
        <li>Mali, Bamako

        </li>
        <li>Mauritania, Nouakchott

        </li>
        <li>Mauritius, Port Louis

        </li>
        <li>Morocco, Rabat

        </li>
        <li>Mozambique, Maputo

        </li>
        <li>Namibia, Windhoek

        </li>
        <li>Niger, Niamey

        </li>
        <li>Nigeria, Abuja

        </li>
        <li>Rwanda, Kigali

        </li>
        <li>Sao Tome and Principe, Sao Tome

        </li>
        <li>Senegal, Dakar

        </li>
        <li>Seychelles, Victoria

        </li>
        <li>Sierra Leone, Freetown

        </li>
        <li>Somalia, Mogadishu

        </li>

        <li>Sudan, Khartoum

        </li>
        <li>Tanzania, Dar es Salaam

        </li>
        <li>Togo, Lome

        </li>
        <li>Tunisia, Tunis

        </li>
        <li>Uganda, Kampala

        </li>
        <li>Western Sahara, no capital

        </li>
        <li>Zambia, Lusaka

        </li>
        <li>Zimbabwe, Harare

        </li>

        </ul>
        
        </div>
    </div>
</body>
</html>