<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/geo_n_america.css">
</head>
<body>
    <div class="asia_container">

        <div class="asia_content">
            <h1>North America</h1>
        <ul>
            <li>Antigua and Barbuda, Saint John's

            </li>
            <li>Bahamas, The Nassau

            </li>
            <li>Barbados, Bridgetown

            </li>
            <li>Belize, Belmopan

            </li>
            <li>Canada, Ottawa

            </li>
            <li>Cuba, Havana

            </li>
            <li>Costa Rica, San Jose

            </li>
            <li>Dominica, Roseau

            </li>
            <li>Dominican Republic, Santo Domingo

            </li>
            <li>Grenada, Saint George's

            </li>
            <li>Haiti, Port-au-Prince

            </li>
            <li>Honduras, Tegucigalpa

            </li>
            <li>Jamaica, Kingston

            </li>
            <li>Mexico, Mexico (Distrito Federal)

            </li>
            <li>Nicaragua, Managua

            </li>
            <li>Panama, Panama City

            </li>
            <li>Saint Kitts and Nevis, Basseterre

            </li>
            <li>Saint Lucia, Castries

            </li>
            <li>Saint Vincent and the Grenadines, Kingstown

            </li>
            <li>Trinidad and Tobago, Port-of-Spain

            </li>
            <li>United States of America, Washington, D.C.

            </li>
            
        </ul>
        </div>
    </div>
</body>
</html>