<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>High Scores</title>
        <link rel="stylesheet" href="../css/math_menu.css" />
        <link rel="stylesheet" href="../css/highscores.css" />
    </head>
    <body>
        <div class="container">
            <div id="highscores" class="flex-center flex-column">
                <h1 id="finalScore">High Scores</h1>
                <ul id="highScoresList"></ul>
                <a class="btn" href="../index.html">Home</a>
                <a class="btn" href="math_menu.html">To Menu</a>
                <a
                    class="btn"
                    href="http://ebooks.edu.gr/ebooks/v/html/8547/2186/Mathimatika_ST-Dimotikou_html-empl/"
                    >Back to Theory</a
                >
            </div>
        </div>
        <script src="../js/highscores.js"></script>
    </body>
</html>
